body{
    background-image: url(image/at_trai-nghiem-tam-suoi-nuoc-nong-hua-pe_8105a4b38ab40643c9f16c606d1ba3d9.jpg);
    
    background-position:relative;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 20px;
    color:#fff;

    height: 100%;
    margin:0;
}

.center-container3{
  height: 100%;
  width: 100%;
  
  text-align: center;
  overflow:visiable;    
}

h1{
    font-family: "marcellus_scregular", serif;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.55); 
}

.center-container3 ::after{
    content:"";
    height: 100%;
    margin-left: -0.25em;
}

.center-container3 ::after,
.center-block3{
    display: inline-block;
    vertical-align: middle;
}

.center-block3{
    max-width: 98%;
}

p{
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#audioplayerskin3{
    width: 300px;
    height: auto;
    margin:auto auto 20px auto;

    text-align: center;

    background-color: transparent;
}

#qbutton{
   height: 130px;
   width: 130px;
   
   border:none;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

#volume-control3{
    margin:auto;
    width: 50%;
}

.playq{
    background: url("https://rainymood.com/i/play4.png");
    border-radius: 50%;
  
    animation: animate 5s linear infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animate;
  
    cursor: pointer;  
}

.pause{
    background: url("https://rainymood.com/i/pause4.png");
    border-radius: 50%;
  
    animation: animate 5s linear 1;
    cursor: pointer;  
}

audio{
    width: 300px;
    height: 54px;
}

@keyframes animate {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.15);
    }
    40% {
      box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
    }
    80% {
      box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  